.funcComp {
  background-color: blueviolet;
  color: burlywood;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.test2 {
  background-color: blueviolet;
  color: burlywood;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
